@font-face {
  font-family: visitor;
  src: url("../Images/visitor1.ttf");
}

body {
  text-shadow: 1px 1px 1px black;
  background-color: #430170;
  font-family: visitor;
  color: white;
  height: 950px;
  background-image: url("https://78.media.tumblr.com/6f91f99ac5a5956d6ff7e40bfb78b960/tumblr_nmojjzrET01u2nohko1_1280.png");
  background-repeat: repeat-x;
}

.main {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

#game-canvas {
  background-color: rgba(255,255,255,.2);
  border: 2px solid white;
  position: absolute;
  -webkit-animation: slide 30s linear infinite;
}

#canvas-overlay {
  position: relative;
  border: 2px solid white;
}

.canvas-holder {
  padding-top: 20px;
  align-items: center;
  width: 500px;
  display: block;
}

.cheerleader {
  width: 300px;
  height: auto;
}

.cheerleader-container {
  background-color: rgba(255, 255, 255, .3)
}

.score-holder {
  width: 400px;
  font-size: 40px;
}

.miss {
  text-align: center;
  font-size: 30px;
  color: red;
}

.hidden {
  display: none;
}

.clear {
  opacity: 0;
}

.miku {
  opacity: .7 ;
  width: 400px;
  height: auto;
  position: absolute;;
}

.menu {
  background: linear-gradient(270deg, #a7b5ff, #aa80ff);
  background-size: 400% 400%;

  -webkit-animation: gradientMove 5s ease infinite;
  -moz-animation: gradientMove 5s ease infinite;
  animation: gradientMove 5s ease infinite;

  padding: 20px;
  width: 460px;
  height: 560px;
  border: 2px solid white;
  position: relative;
}

.gen-info {
  width: 350px;
}

.gen-info h1 {
  font-size: 100px;
}

.menu h1 {
  margin: 0px;
  cursor: pointer;
  font-size: 70px;
}

.menu h1:hover {
  color: purple;
}

@-webkit-keyframes gradientMove {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradientMove {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradientMove {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

input {
  width: 400px;
}

.modalscreen {
  display: none;
}

ul {
  font-size: 30px;;
}

ul li {
  list-style: none;
  cursor: pointer;
}

.chosen {
  color: blue;
}

#max-score {
  width: 460px;
}

#rank-show {
  font-size: 200px
}

#rank h2 {
  font-size: 100px;
  margin: 0px;
}
